.App {
  font-family: sans-serif;
  text-align: center;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  width: min-content; /* Ensure the container only takes up the grid space */
  flex-wrap: wrap;
}

.node {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc; /* Add a border to see the grid cells */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.node-wall {
  background-color: #b0bec5; /* Light Slate Blue */
}
.node-path {
  background-color: #e0f7fa; /* Pale Cyan */
}
.node-start {
  background-color: #a8dadc; /* Soft Teal */
}
.node-end {
  background-color: #f4a261; /* Light Salmon/Peach */
}
.node-visited {
  background-color: #b5ead7; /* Mint Green */
}
.node-current {
  background-color: #ffd1dc; /* Soft Pink */
}
